/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.construction-container {
    position: relative;
    height: 100vh;
    background: url('pcemada.jpg') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.content {
    position: relative;
    z-index: 1;
    color: #fff;
    max-width: 80%;
}

h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

p {
    font-size: 20px;
    margin-bottom: 30px;
}

.btn {
    padding: 15px 30px;
    background-color: #25d366;
    color: #333;
    text-decoration: none;
    font-weight: bold;
    border-radius: 40px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #fff;
}

/* Responsividade */
@media (max-width: 768px) {
    h1 {
        font-size: 36px;
    }

    p {
        font-size: 18px;
    }

    .btn {
        padding: 12px 24px;
    }
}
