/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: 'Arial', sans-serif;
}

.construction-container {
    position: relative;
    padding: 15px;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    animation: backgroundSlideshow 20s infinite;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Escurece as imagens */
}

.content {
    position: relative;
    z-index: 1;
    color: #fff;
    text-align: center;
}

.content h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.content p {
    font-size: 24px;
    margin-bottom: 20px;
}

a.btn {
    padding: 15px;
    background-color: #25d366;
    color: #000;
    text-decoration: none;
    font-size: 1.5rem;
    border-radius: 40px;
    border: 2px solid #000;
    line-height: 4;
}

/* Efeitos de transição de imagens de fundo */
@keyframes backgroundSlideshow {
    0% { background-image: url('pcemada.jpg'); }
    25% { background-image: url('membro2.jpg'); }
    50% { background-image: url('membro3.jpg'); }
    75% { background-image: url('membro4.jpg'); }
    100% { background-image: url('membro5.jpg'); }
}

/* Responsividade */
@media (max-width: 768px) {
    .content h1 {
        font-size: 32px;
    }
    .content p {
        font-size: 18px;
    }
}
